
RMIClient/nbproject/private/private.xml
RMIClient/nbproject/private/private.xml
RMIClient/nbproject/private/private.properties
RMIServer/nbproject/private/private.xml
RMIServer/nbproject/private/private.properties
